name: Make VSeq Plug-in Archive

on:
  push:
    tags:
      - "v*" # Runs action on pushed tags starting with 'v'

permissions:
  contents: write # Needed for creating/updating GitHub releases

jobs:
  build-and-release:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - name: Install dependencies via Homebrew
        run: |
          brew update
          brew install --cask gcc-arm-embedded

      - name: Verify installation
        run: |
          arm-none-eabi-g++ --version

      - name: Build VSeq plugin
        run: |
          echo "Building VSeq"
          make clean
          make

      - name: Prepare directory structure for VSeq zip
        run: |
          mkdir -p release/programs/plug-ins/VSeq
          echo "Copying 1VSeq.o"
          cp build/1VSeq.o release/programs/plug-ins/VSeq/1VSeq.o

      - name: Zip VSeq plugin artifact
        run: |
          cd release
          zip -r ../VSeq-plugin.zip programs
          cd ..

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: VSeq-plugin.zip
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
